<!-- Swaroop ur work on other table's new.html.erb is similar to this-->

<% breadcrumb :new_base_cmds, @base_cmds %>
<h1>CREATE BASE COMMAND </h1>

<div class="perfect-forms">

  <%= form_for(@base_cmds) do |f| %>

  <p class="form-row">
    <%= f.label :DESCRIPTION %>
    <%= f.text_area :DESCRIPTION%>
  </p>

  <p class="form-row">
    <%= f.label :SUBSYSTEM %>
    <%= f.collection_select(:SUBSYSTEM, SUBSYSTEM_TBL.all, :SUBSYSTEM_ID, :SUBSYSTEM_NAME, {:prompt => "Please select"})%>
  </p>

  <p class="form-row">
    <%= f.label :FORMATION_TYPE %>
    <%= f.text_field :FORMATION_TYPE%>
  </p>

  <p class="form-row">
    <%= f.label :CMD_TYPE %>
    <%= f.collection_select(:CMD_TYPE, CMD_TYPES_TBL.all, :CMD_TYPE_ID, :CMD_TYPE, {:prompt => "Please select"}) %>
  </p>

  <p class="form-row">
    <%= f.label :BASE_CMD_CODE %>
    <%= f.text_field :BASE_CMD_CODE%>
  </p>

  <p class="form-row">
    <%= f.label :BASE_CMD_MASK %>
    <%= f.text_field :BASE_CMD_MASK%>
  </p>

  <p class="form-row">
    <%= f.label :CRITICALITY %>
    <%= f.text_field :CRITICALITY%>
  </p>

  <p class="form-row">
    <%= f.label :PULSE_WIDTH %>
    <%= f.text_field :PULSE_WIDTH%>
  </p>

  <p class="form-row">
    <%= f.label :MAP_ID %>
    <%= f.text_field :MAP_ID%>
  </p>

  <p class="form-row">
    <%= f.label :UI_TYPE %>
    <%= f.collection_select(:UI_TYPE, UI_TYPES_TBL.all, :UI_TYPE_ID, :UI_TYPE, {:prompt => "Please select"})  %>
  </p>

  <p class="form-row">
    <%= f.label :PREFERRABLE_DECODER %>
    <%= f.text_field :PREFERRABLE_DECODER%>
  </p>

  <p class="form-row">
    <%= f.label :CONFIRMATION_TYPE %>
    <%= f.collection_select(:CONFIRMATION_TYPE, CONFIRMER_TBL.all, :POSITION, :NAME, {:prompt => "Please Select", :include_hidden => false, :selected => @base_cmds.CONFIRMATION_TYPE}, {:multiple => true}) %>
  </p>

  <p class="form-row">
    <%= f.label :REMARKS %>
    <%= f.text_field :REMARKS%>
  <p class="form-row">

  <%= f.submit 'Create', class: "btn btn-primary" %>
<% end %>
