<h1>LOG IN!</h1>
<div class="perfect-forms">
	<%= form_for(:session, url: login_path, method: :post) do |f| %>

		<p class="form-row">
			<%= f.label :name %>
			<%= f.text_field :name%>
		</p>

		<p class="form-row">
			<%= f.label :password %>
			<%= f.password_field :password%>
		</p>

		<div class="advanced_options">

			<p class="form-row">
				<%= f.label :database_name %>
				<%= f.select :database_name, options_for_select(MinorConfig.pluck(:database_name), "development"), {}%>
			</p>

			<p class="form-row">
				<%= f.label :server_name %>
				<%= f.select :server_name, MinorConfig.pluck(:server_name), {}%>
			</p>

		</div>

		<p style="text-align: left">New user? <%= link_to "Sign up now!", signup_path %></p>

		<p class="form-row btn-group btn-group-sm">

  			<span id="advanced_button" class="btn btn-warning">Advanced Options</span>
			<%= f.submit "Log In", class: "btn btn-primary" %>

		</p>

	<% end %>

</div>